<!DOCTYPE html>
<html lang="en">
<head>
    <title>loading</title>
    <link href="../../css/recommend/loading.css" rel = "stylesheet"/>
</head>
<body>
    <body>
        <div class="loader" id = loader>
        </div>
        <div class = container style="display:none;" id = container>
        <script>
            setTimeout(function() {
                window.location.href = "/result";
                }, 5500);
    
        </script>
    </body>
</body>
</html>