<!DOCTYPE html>
<html lang="en">
<head>
    <title>start</title>
    <link href="css/intro.css" rel = "stylesheet"/>
</head>
<body>
    <div class = logo-container>
        <a href="/intro" onclick="movePage()">:P</a>
    </div>
</body>
<script type="text/javascript">
    function movePage() {
        window.location.href = "kiosk_intro.ejs"
    }
</script>
</html>