<!DOCTYPE html>
<html lang="en">
<head>
    <title>intro</title>
    <link href="../css/intro.css" rel = "stylesheet"/>
</head>
<body>
    <body>
        <div class = logo-container>
            <p class = intro-logo><span>:P</span>ICK YOUR OWN COORDINATION</p>
        </div>
        <script>
            setTimeout(function() {
                window.location.href = "/home";
                }, 5500);
    
        </script>
    </body>
</body>
</html>